@media screen and (max-width: 767px) { 

    .header__return {
        top: 4%;
        left: 10%;
    }

    .menu__image {
        width: 100%;
        height: 200px;
    }

    .menu__title {
        margin: 15px 0 0 45px;
    }

/*-- HEART--*/

    .menu__title-icon {
        top: 1%;
        left: 50%;
    }

/*-- CARDS--*/

    .choice {

        &__dish {
            width: 90%;
        }

        &__dish:hover {
            .menu__text {
                width: 52%;
            }
        } 

        .dish__description {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 992px) and (min-width: 767px) {

    .header__return {
        top: 1%;
        left: 5%;
    }

    .menu__image {
        height: 200px;
    }
    
    .menu__title {
        margin: 15px 0 0 40px;
    }

/*-- HEART--*/

    .menu__title-icon {
        top: 2.2%;
        left: 88%;
    }

/*-- CARDS--*/
    .choice {
        &__dish {
            width: 90%;
            margin-left: 40px;
        }


        &__description {
            font-size: 14px;
        }

        &__dish:hover {
            .dish__text {
                width: 70%;
            }
        }
    }
}

// @media screen and (min-width: 993px) {

//     * {
//         padding: 0;
//         margin: 0;
//     }

//     .menu__image {
//         height: 200px;
//     }

//     .menu__title {
//         margin: 15px 0 0 50px;
//     }

// /*-- HEART--*/

//     .menu__title-icon {
//         top: 6.5%;
//         left: 90%;
//     }

// /*-- CARDS--*/

// .course__dishes {
//         display: flex;
//         flex-direction: row;
//         justify-content: space-around;
//     }

//     .course {
//         width: 100%;
//     }

//     .course__dish:hover {
//         .dish__text {
//             width: 55%;
//         }
//     } 

//     .dish__description {
//         font-size: 14px;
//     }

// }